@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--raleway-font);
}

h1 {
  font-size: 30px;
}

h1, h2, h3 {
  font-family: var(--ibmSans-font);
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}